AIVEN_URL = "https://api.aiven.io/v1/project/{}/service/{}/metrics"
AIVEN_TOKEN = ""

# Replace EXAMPLE with project name
DYNATRACE_URL = "https://EXAMPLE.live.dynatrace.com/api/v2/metrics/ingest"

# Token requires scope: metrics.ingest (Ingest metrics)
DYNATRACE_TOKEN = ""

# The user/pass are configurable in the Aiven endpoints view
PROMETHEUS_CONFIG = {
    "url": "SERVICE.aivencloud.com",
    "port": 9273,
    "user": "",
    "pass": ""
}
METRICS = [
    "system_uptime"
]
